 <!--<form action="/" method="post">
	    <input type="text" name="request_data">-->
  
  <input type="button" value="PRESS ME !!" onclick="prediction()">

    <script>
    function prediction(){
        var ENDPOINT = "https://machinelearning.us-east-1.amazonaws.com";
        var REGION = "us-east-1";
        var ACCESS_KEY_ID = "AKIAIER2XXMXEFU5GLIA";
        var SECRET_ACCESS_KEY = "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";
        var ML_MODEL_ID = "ml-wHCNapTYAwo";
        var PREDICT_ENDPOINT = "https://realtime.machinelearning.us-east-1.amazonaws.com";
        

        var machinelearning = new AWS.MachineLearning({
            apiVersion: '2014-12-12',
            endpoint: ENDPOINT,
            region: REGION,
            accessKeyId: ACCESS_KEY_ID,
            secretAccessKey: SECRET_ACCESS_KEY
        });
 
        var PARAM_ID = "0"; 
        var PARAM_AGE = "27"; 
        var PARAM_SEX = "2"; 

        var params = {
            MLModelId: ML_MODEL_ID, 
            PredictEndpoint: PREDICT_ENDPOINT, 
            Record: {
                'id' : Integer,
                'age' : Integer,
                'sex' : Integer
            }
        };
        machinelearning.predict(params, function(err, data) {
            if (err) {
                console.log(err, err.stack); 
            } else {
                console.log(data);          
                alert("Accuracy " + Math.round(data.Prediction.predictedScores[0] * 100) + "%");
             }
           })
         .then(() => {
           res.redirect('/')
           })
      };
    </script>

  <!--</form>-->