<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.10.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>Welcome to <%= title %></p> -->
    <br>
    <h1>Amazon Machine Learning model</h1>
    <h3>This is the contract prediction app using AWS ML. <br>
    You can check people between 18 - 51 will make the contract or not. <br>
    When you'll get the rate mens how much will the customer make a contract.</h3>
    <br>

  <% include partials/awsMLSdk.ejs %>


  </body>
</html>
