<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.10.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>Welcome to <%= title %></p> -->
    <br>
    <h1>Amazon Machine Learning model</h1>
    <h3>This is the contract prediction app using AWS ML. <br>
    You can check people between 18 - 51 will make the contract or not. <br>
    When you'll get the rate mens how much will the customer make a contract.</h3>
    <br>

<input type="button" value="PRESS ME !!" onclick="prediction()">

<script>
function prediction(){

    var ENDPOINT = "https://machinelearning.us-east-1.amazonaws.com";
    var REGION = "us-east-1";
    var ACCESS_KEY_ID = 
    var SECRET_ACCESS_KEY = 

    var ML_MODEL_ID = "ml-wHCNapTYAwo";

    var PREDICT_ENDPOINT = "https://realtime.machinelearning.us-east-1.amazonaws.com";

	
    var PARAM_ID = "0"; 
    var PARAM_AGE = "27"; 
    var PARAM_SEX = "1"; 

    var machinelearning = new AWS.MachineLearning({
        apiVersion: '2014-12-12',
        endpoint: ENDPOINT,
        region: REGION,
        accessKeyId: ACCESS_KEY_ID,
        secretAccessKey: SECRET_ACCESS_KEY
    });
    var params = {
      MLModelId: ML_MODEL_ID, 
      PredictEndpoint: PREDICT_ENDPOINT, 
      Record: {
        'id' : PARAM_ID,
        'age' : PARAM_AGE,
        'sex' : PARAM_SEX
      }
    };
    machinelearning.predict(params, function(err, data) {
      if (err) {
          console.log(err, err.stack); 
      }
      else {
          console.log(data);          
          alert("Accuracy "+Math.round(data.Prediction.predictedScores[0]*100)+"%");
      }
    });
}
</script>


  </body>
</html>
