<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.10.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>Welcome to <%= title %></p> -->
    <br>
    <h1>Amazon Machine Learning model</h1>
    

  <% include partials/awsMLSdk.ejs %>


  </body>
</html>
